In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. 
from scipy import optimize as opt
import matplotlib.pyplot as plt

In [9]:
train_data = pd.read_csv('train_estimates.csv')
train_data.head()

,carid,tradeTime,brand,serial,model,mileage,color,cityId,carCode,transferCount,...,anonymousFeature7,anonymousFeature8,anonymousFeature9,anonymousFeature10,anonymousFeature11,anonymousFeature12,anonymousFeature13,anonymousFeature14,anonymousFeature15,price
0,1,2021/6/28,1,1,1,4.01,1,1,1,0,...,0,1,5,2,1,4220*1740*1625,201709,1,0,4.24
1,2,2021/6/25,2,2,2,8.60,1,2,1,0,...,0,2,4,3,1+2,4630*1775*1480,201609,2,0,7.38
2,5,2021/6/19,5,5,5,15.56,1,2,3,0,...,0,0,0,0,0,4515*1725*1445,0,2,0,1.00
3,6,2021/6/29,6,6,6,6.04,1,3,1,3,...,2018/8/18,2,5,2,1,4500*1834*1707,201608,2,0,4.38
4,7,2021/6/30,7,7,7,5.70,4,1,2,2,...,2020/9/20,1,5,2,1,4315*1783*1606,201204,1,0,5.90

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   carid               35000 non-null  int64
 1   tradeTime           35000 non-null  object
 2   brand               35000 non-null  int64
 3   serial              35000 non-null  int64
 4   model               35000 non-null  int64
 5   mileage             35000 non-null  float64
 6   color               35000 non-null  int64
 7   cityId              35000 non-null  int64
 8   carCode             35000 non-null  int64
 9   transferCount       35000 non-null  int64
 10  seatings            35000 non-null  int64
 11  registerDate        35000 non-null  object
 12  licenseDate         35000 non-null  object
 13  country             35000 non-null  int64
 14  maketype            35000 non-null  int64
 15  modelyear           35000 non-null  int64
 16  displacement        35000 non-null  float64
 17  gearbox             35000 non-null  int64
 18  oiltype             35000 non-null  int64
 19  newprice            35000 non-null  float64
 20  anonymousFeature1   35000 non-null  int64
 21  anonymousFeature2   35000 non-null  int64
 22  anonymousFeature3   35000 non-null  int64
 23  anonymousFeature4   35000 non-null  int64
 24  anonymousFeature5   35000 non-null  int64
 25  anonymousFeature6   35000 non-null  int64
 26  anonymousFeature7   35000 non-null  object
 27  anonymousFeature8   35000 non-null  int64
 28  anonymousFeature9   35000 non-null  int64
 29  anonymousFeature10  35000 non-null  int64
 30  anonymousFeature11  35000 non-null  object
 31  anonymousFeature12  35000 non-null  object
 32  anonymousFeature13  35000 non-null  int64
 33  anonymousFeature14  35000 non-null  int64
 34  anonymousFeature15  35000 non-null  object
 35  price               35000 non-null  float64
dtypes: float64(4), int64(25), object(7)
memory usage: 9.6+ MB

In [5]:
from sklearn.model_selection import train_test_split
X = train_data.drop(['carid', 'price'], axis=1)
y = train_data['carid']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=456)

In [6]:
#搭建线性模型
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
naive_model = LinearRegression()
naive_model.fit(X_train[['brand','serial','model','mileage','color','cityId','carCode','transferCount','seatings','country','maketype','modelyear','displacement','gearbox','oiltype','newprice','anonymousFeature1','anonymousFeature2','anonymousFeature3','anonymousFeature4','anonymousFeature5','anonymousFeature6','anonymousFeature8','anonymousFeature9','anonymousFeature10','anonymousFeature13','anonymousFeature14']], y_train);
y_pred_naive = naive_model.predict(X_test[['brand','serial','model','mileage','color','cityId','carCode','transferCount','seatings','country','maketype','modelyear','displacement','gearbox','oiltype','newprice','anonymousFeature1','anonymousFeature2','anonymousFeature3','anonymousFeature4','anonymousFeature5','anonymousFeature6','anonymousFeature8','anonymousFeature9','anonymousFeature10','anonymousFeature13','anonymousFeature14']])

In [7]:
mean_squared_error(y_test, y_pred_naive)

288506119.90228593

In [8]:
mean_absolute_error(y_test, y_pred_naive)

13192.190025528267

In [ ]:
sns.pairplot(train_data[['brand','serial','model','mileage','color','cityId','carCode','transferCount','seatings','country','maketype','modelyear','displacement','gearbox','oiltype','newprice','anonymousFeature1','anonymousFeature2','anonymousFeature3','anonymousFeature4','anonymousFeature5','anonymousFeature6','anonymousFeature8','anonymousFeature9','anonymousFeature10','anonymousFeature13','anonymousFeature14', 'price']].sample(100)); 
plt.show()

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
def create_one_hot_preprocessor():
    return ColumnTransformer([
        ('one_hot_encoder', OneHotEncoder(sparse=False, handle_unknown='ignore'), ['tradeTime', 'registerDate',' licenseDate','anonymousFeature7','anonymousFeature11','anonymousFeature12','anonymousFeature15']),
        ('standard_scaler', StandardScaler(), ['brand','serial','model','mileage','color','cityId','carCode','transferCount','seatings','country','maketype','modelyear','displacement','gearbox','oiltype','newprice','anonymousFeature1','anonymousFeature2','anonymousFeature3','anonymousFeature4','anonymousFeature5','anonymousFeature6','anonymousFeature8','anonymousFeature9','anonymousFeature10','anonymousFeature13','anonymousFeature14'])]
    )